[submodule "source/data/JP/extract/JapanCityGeoJson"]
	path = source/data/JP/extract/JapanCityGeoJson
	url = https://github.com/niiyz/JapanCityGeoJson.git
[submodule "source/data/_World/extract/geo-countries"]
	path = source/data/_World/extract/geo-countries
	url = https://github.com/datasets/geo-countries.git
