<!DOCTYPE html>

<head>
  <meta name="theme-color" content="#a8d49f">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <title>Contact Picknic</title>
  <!-- Site-wide style -->{{> style}}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  <!-- nav.mustache -->{{> nav}}

  <!-- Registration -->
  <div class="container">
    <h1>Contact Picknic</h1>
    <p>If you wish to get in touch with us directly, please email
      <a href="mailto:picknic.site@gmail.com">picknic.site@gmail.com</a>.
    </p>
    <h3>Social Media</h3>
    <p>
      <span style="line-height:3em">
        <a href="https://www.facebook.com/picknic.site/">
          <img src="/images/facebook.svg" style="width:3em;height:3em"> @picknic.site</a>
      </span>
      <span style="line-height:3em;margin-left:3em;">
        <a href="https://twitter.com/picknic_site/">
          <img src="/images/twitter.svg" style="width:3em;height:3em"> @picknic_site</a>
      </span>

    </p>
  </div>

  <script>
    // Future registration scripts
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs="
    crossorigin="anonymous"></script>
</body>

</html>