<style>
.social-media-block {
  line-height: 3em;
  padding: 10px 0;
}

.social-media-link:hover {
  text-decoration: none;
}

.social-media-image {
  width: 3em;
  height: 3em;
}

.social-media-flex {
  justify-content: space-between;
  flex-wrap: wrap;
}
</style>