<nav class="navbar navbar-expand-md navbar-fixed-top">
  <a class="navbar-brand" href="#"><img alt="" src="/images/picknic.svg">{{#i18n}}picknic{{/i18n}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <!-- Things after here will be collapsed on smaller screens -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
{{# user_is_logged_in }}
        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
          <a class="dropdown-item" href="#">Thanks for</a>
          <a class="dropdown-item" href="#">signing up</a>
          <a class="dropdown-item" href="#">&amp; logging in!</a>
        </div>
      </li>
{{/ user_is_logged_in }}
{{^ user_is_logged_in }}
        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{#i18n}}nav.login{{/i18n}}</a>
        <div class="dropdown-menu" aria-labelledby="loginDropdown">
          <a class="dropdown-item" href="login.html">{{#i18n}}nav.login{{/i18n}}</a>
          <a class="dropdown-item" href="register.html">{{#i18n}}nav.register{{/i18n}}</a>
        </div>
      </li>
{{/ user_is_logged_in }}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
