.navbar {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    background-color: #ffcccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    .nav-title {
        font-size: 24px;
    }
    img {
        width: 40px;
        margin-top: -10px !important;
    }
}