.thing-form {
  margin: 20px 0;
}

#spacer {
  margin-top: -20px;
}

.angular-google-map-container {
  width: 100%;
  height: 100%;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: none;
}

.angular-google-map {
  top: 80px;
}
